<footer class="blog-footer">
  <p><p>Nickcool Designs, LLC., &copy; <%= Time.now.year %> All rights reserved &middot; Terms &middot; Privacy </p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>