<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://s3.amazonaws.com/scdewebimg/greg.png", width: 300, alt: "Profile image" %>
  </div>

  <div class="col-md-8">
    <p>I have over 25 years of Engineering experience, with extensive 3D CAD modeling. 
                Most of my design experience has been in new product development and FEA.  Additionally,
                I am a full-stack developer and app developer.  Programming in Swift, Ruby, Rails, HMTL5, JS, and CSS3</p>
  </div>
</div>


