<div class="app-card-container">
  <div class="card card-transparent" align="center">
      <h2>Give me a shout</h2>
      <p>Send me an <a href="mailto:gpdno@mac.com?Subject=Hello%20let's%20work%20together" target="_top"><span class="email" ><strong>email</strong></span></a> or pick-up the phone and talk ~
      <p><%= number_to_phone "9414163131" %></p>
      <hr>
      <p>Venice, FL </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113642.1389184817!2d-82.48477805039447!3d27.114828682766266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c34e48300b2dfb%3A0x52ac882236d6b362!2sVenice%2C+FL!5e0!3m2!1sen!2sus!4v1489795148463" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
