<div class="app-card-container">
  <div class="card card-transparent">
    <div class="inner cover">
      <h1 class="cover-heading">Welcome</h1>
      <p class="lead">Design should be the meeting of form and function.</p>
      <p class="lead">I believe in thinking outside of the box to solve everyday problems.  With over 30 years of combined design experience, I love solving the problems that most people ignore.

      I believe that everyday people come up with creative solutions.  I want to help get those ideas out of the shadows and into the market.<p>
      <p class="lead">
      <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
      </p>
    </div>
  </div>
</div>