<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Design should be the meeting of form and function.</p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>